.edit-exercise {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
}

.title-edit-exercise {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: red;
}

.submit > input {
    color: #fff;
    background-color: blue;
    padding: 4px;
    margin: 5px;
    border-radius: 7px;
    font-size: 3vh;
}

.username-exercise,
.description,
.duration,
.date {
    color: black;
    margin: 20px;
}

.select,
.description> input,
.duration> input,
.datepicker {
    border: 2px solid black;
    border-radius: 5px;
    width: 20vw;
    font-size: 20px;
    margin-left:10px;
    padding: 4px;
}   